<div class="root flex-column" >
	<div class="container" style="width: 50%; align-self: center;">
		<mat-card class="container__card custom-card flex-column center">

	<form class="content flex-column" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="clickSave()">
		<mat-form-field appearance="outline">
			<mat-label>Contraseña anterior</mat-label>
			<input matInput type="password" formControlName="oldPassword" />
			<mat-error *ngIf="oldPasswordField.hasError('required')"> Ingrese la contraseña a reemplazar</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" style="padding-bottom: 20px">
			<mat-label>Nueva contraseña</mat-label>
			<input matInput type="password" formControlName="newPassword" />
			<mat-error *ngIf="newPasswordField.hasError('required')"> Ingrese la nueva contraseña </mat-error>
			<mat-error *ngIf="newPasswordField.hasError('customPasswordValidator')">
				La contraseña debe tener al menos una mayúscula, minúscula, simbolo, número y mayor a 8 caracteres
			</mat-error>
		</mat-form-field>
		
		<button mat-raised-button color="primary" type="submit" [disabled]="disabledButton">GUARDAR</button>
	</form>

	</mat-card>
	</div>
</div>
